<app-page-titel [pageTitel]="pageTitel"></app-page-titel>

<section class="checkout-form-section">
  <div class="container">
    <form class="checkout-form">
      <div class="row">
        <!-- Billing Address -->
        <div class="col-lg-8">
          <h4 class="mb-4">Detalji za naplatu</h4>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="billingFirstName">Ime</label>
              <input type="text" class="form-control" id="billingFirstName" />
            </div>
            <div class="form-group col-md-6">
              <label for="billingLastName">Prezime</label>
              <input
                type="text"
                class="form-control"
                id="billingLastName"
                placeholder="Doe"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="billingEmail">Adresa e-poste</label>
              <input
                type="email"
                class="form-control"
                id="billingEmail"
                placeholder="example@email.com"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="billingMobile">Telefon</label>
              <input type="number" class="form-control" id="billingMobile" />
            </div>
            <div class="form-group col-md-6">
              <label for="billingAddress1">Ulica i kucni broj</label>
              <input type="text" class="form-control" id="billingAddress1" />
            </div>
            <div class="form-group col-md-6">
              <label for="billingCountry">Drzava / Region</label>
              <select class="form-control" id="billingCountry">
                <option selected>Srbija</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="billingCity">Grad</label>
              <input
                type="text"
                class="form-control"
                id="billingCity"
                placeholder="Beograd"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="billingZip">Postanski Broj</label>
              <input type="text" class="form-control" id="billingZip" />
            </div>
            <div class="form-group col-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="shipToDifferent"
                  (change)="toggleShippingAddress($event)"
                />
                <label class="form-check-label" for="shipToDifferent">
                  Isporuka na drugu adresu?
                </label>
              </div>
            </div>
          </div>
          <!-- Shipping Address (Optional Section) -->
          <div
            *ngIf="showShippingAddress"
            class="collapse"
            id="shippingAddressSection"
          >
            <h4 class="mb-4">Adresa za Dostavu</h4>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="shippingFirstName">Ime</label>
                <input
                  type="text"
                  class="form-control"
                  id="shippingFirstName"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="shippingLastName">Prezime</label>
                <input type="text" class="form-control" id="shippingLastName" />
              </div>
              <div class="form-group col-md-6">
                <label for="shippingEmail">Adresa e-poste</label>
                <input
                  type="email"
                  class="form-control"
                  id="shippingEmail"
                  placeholder="example@email.com"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="shippingMobile">Telefon</label>
                <input type="number" class="form-control" id="shippingMobile" />
              </div>
              <div class="form-group col-md-6">
                <label for="shippingAddress1">Ulica i kucni broj</label>
                <input type="text" class="form-control" id="shippingAddress1" />
              </div>
              <div class="form-group col-md-6">
                <label for="shippingCountry">Drzava / Region</label>
                <select class="form-control" id="shippingCountry">
                  <option selected>Srbija</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="shippingCity">Grad</label>
                <input
                  type="text"
                  class="form-control"
                  id="shippingCity"
                  placeholder="Beograd"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="shippingZip">Postanski Broj</label>
                <input
                  type="text"
                  class="form-control"
                  id="shippingZip"
                  placeholder="10001"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Order Summary & Payment -->
        <div class="col-lg-4">
          <!-- Order Summary -->
          <div class="card mb-4">
            <div class="card-header bg-secondary text-white">
              <h4 class="m-0">Vasa Narudzbina</h4>
            </div>
            <div class="card-body">
              <h5 class="mb-3">Proizvodi</h5>
              <div class="d-flex justify-content-between">
                <p>Product 1</p>
                <p>$150</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Product 2</p>
                <p>$150</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Product 3</p>
                <p>$150</p>
              </div>
              <hr />
              <div class="d-flex justify-content-between mb-3 pt-1">
                <h6>Ukupno</h6>
                <h6>$450</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6>Dostava</h6>
                <h6>$10</h6>
              </div>
            </div>
            <div class="card-footer bg-transparent">
              <div class="d-flex justify-content-between mt-2">
                <h5>Ukupno sa Dostavom</h5>
                <h5>$460</h5>
              </div>
            </div>
          </div>
          <!-- Payment Options -->
          <div class="card">
            <div class="card-footer bg-transparent">
              <button type="submit" class="btn btn-lg btn-block btn-primary">
                Place Order
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
