/*** 
      ====================================================================
          Checkout Form
      ====================================================================
    ***/
.checkout-form-section {
  position: relative;
  padding: 115px 0 110px;
  background-color: #f9f9f9;
}
.checkout-form-section .checkout-title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.checkout-form-section .checkout-title h2 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.checkout-form-section .checkout-title .text {
  color: #777777;
  font-size: 16px;
}
.checkout-form .row {
  margin: 0 -10px;
}
.checkout-form .form-group {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
}
.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="password"],
.checkout-form input[type="number"],
.checkout-form select,
.checkout-form textarea {
  display: block;
  width: 100%;
  height: 52px;
  color: #333333;
  font-size: 14px;
  padding: 10px 20px;
  line-height: 30px;
  background: #ffffff;
  border: 1px solid #ececec;
  transition: all 500ms ease;
}
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus {
  border-color: #99cc00;
  background: none;
}
.checkout-form input.error,
.checkout-form select.error,
.checkout-form textarea.error {
  border-color: #ff0000 !important;
}
.checkout-form label.error {
  display: block;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 11px;
  color: #ff0000;
  font-weight: 500;
}
.checkout-form textarea {
  height: 160px;
  resize: none;
  padding: 12px 25px;
}
.checkout-form button {
  font-size: 16px;
  margin-top: 10px;
  text-transform: capitalize;
}
