<!-- Main Header-->
<div class="page-wrapper">
  <header class="main-header header-style-two">
    <!-- Header Top -->
    <div class="header-top">
      <div class="auto-container clearfix">
        <!--Top Left-->
        <div class="top-left pull-left">
          <ul class="links-nav clearfix">
            <li>
              <a href="#"
                ><span class="icon flaticon-smartphone-1"></span> +381 63 251
                828</a
              >
            </li>
            <li>
              <a href="#"
                ><span class="icon flaticon-envelope"></span>
                fitnessloveteam&#64;hotmail.com</a
              >
            </li>
          </ul>
        </div>

        <!--Top Right-->
        <div class="top-right pull-right">
          <ul class="social-links-one">
            <li>
              <a href="#"><span class="icon fa fa-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon fa fa-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Header Top End -->

    <!--Header-Upper-->
    <div class="header-upper">
      <div class="auto-container">
        <div class="clearfix">
          <!--Logo Outer-->
          <div class="logo-outer">
            <div class="logo">
              <a routerLink=""
                ><img
                  src="images/logos/logoflt.png"
                  alt="fitnessloveteam"
                  title=""
              /></a>
            </div>
          </div>

          <div class="nav-outer clearfix">
            <!-- Main Menu -->
            <nav class="main-menu">
              <div class="navbar-header">
                <!-- Toggle Button -->
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                >
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse clearfix">
                <!--Left Nav-->
                <ul class="navigation clearfix">
                  <li class="current">
                    <a routerLink="">Početna strana</a>
                  </li>
                  <li><a routerLink="/about">O nama</a></li>
                  <li class="dropdown">
                    <a href="#">Ko smo mi?</a>
                    <ul>
                      <li><a routerLink="/stories">Iskustva</a></li>
                      <li><a routerLink="/team">Naš tim</a></li>
                      <li><a href="error-page.html">Error Page</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/services">Usluge</a></li>
                  <li class="dropdown">
                    <a routerLink="/gallery">Galerija</a>
                  </li>
                  <li class="dropdown">
                    <a routerLink="/blog">Blog</a>
                  </li>
                  <li><a routerLink="/contact">Kontakt</a></li>
                  <!-- <li><a routerLink="/products">Products</a></li>
                  <li><a routerLink="/basket">Basket</a></li> -->
                  @if(!IsLoggedIn){
                  <li><a routerLink="/login">Login</a></li>
                  }
                </ul>
              </div>
            </nav>
            <!--Bakset Icon-->
            <div class="basket-box-outer">
              <button
                class="basket-box-btn"
                type="button"
                aria-expanded="false"
              >
                <span class="fa fa-shopping-basket">
                  {{ 1 }}
                </span>
              </button>
            </div>
            <!--Search Box-->
            <!-- <div class="search-box-outer">
            <div class="dropdown">
              <button
                class="search-box-btn dropdown-toggle"
                type="button"
                id="dropdownMenu3"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="fa fa-search"></span>
              </button>
              <ul
                class="dropdown-menu pull-right search-panel"
                aria-labelledby="dropdownMenu3"
              >
                <li class="panel-outer">
                  <div class="form-container">
                    <form method="post" action="blog.html">
                      <div class="form-group">
                        <input
                          type="search"
                          name="field-name"
                          value=""
                          placeholder="Search Here"
                          required=""
                        />
                        <button type="submit" class="search-btn">
                          <span class="fa fa-search"></span>
                        </button>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
          </div>
        </div>
      </div>
    </div>
    <!--End Header Upper-->

    <!--Sticky Header-->
    <!--End Sticky Header-->
  </header>
</div>
<!--End Main Header -->
