.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  background: #1c1c1c;
  display: none;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.scroll-to-top:hover {
  color: #ffffff;
  background: #99cc00;
}

/*** 
  
  ====================================================================
      Main Header style
  ====================================================================
  
  ***/

.main-header {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 100%;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-header .header-top {
  position: relative;
  font-size: 13px;
  padding: 15px 0px;
  color: #ababab;
  background-color: #222222;
}

.main-header .header-top.style-two {
  background-color: #222222;
}

.main-header .header-top.style-two .contact-number,
.main-header .header-top.style-two .links-nav li.language {
  border-color: #4a4a4a;
}

.main-header .header-top.style-two .contact-number span,
.main-header .header-top.style-two a {
  color: #ababab;
  border-color: #4a4a4a;
}

.main-header .header-top a {
  color: #ababab;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .links-nav li {
  position: relative;
  float: left;
  color: #777777;
  font-size: 14px;
  margin-right: 25px;
  line-height: 1.4em;
}

.main-header .top-right .links-nav li {
  margin-right: 0px;
  margin-left: 25px;
}

.main-header .links-nav li a {
  position: relative;
  font-size: 14px;
  line-height: 1em;
  padding-right: 20px;
  text-transform: capitalize;
  border-right: 1px solid #515151;
}

.main-header .links-nav li .icon {
  padding-right: 8px;
}

.main-header .links-nav li a:hover {
  color: #99cc00;
}

.main-header .links-nav li:last-child a {
  padding-right: 0px;
  border: 0px;
}

.main-header .sticky-header .navigation li a:after {
  display: none;
}

.sticky-header {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.sticky-header .logo {
  padding: 12px 0px 8px;
}

.fixed-header .sticky-header {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.main-header .header-upper {
  position: relative;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-header .header-upper .auto-container {
  position: relative;
}

.main-header .header-upper .logo img {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.main-header .logo-outer {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  padding: 12px 0px;
  z-index: 12;
  background: none;
  text-align: center;
  line-height: 80px;
}

.main-header .header-upper .upper-right {
  position: relative;
  padding: 38px 0px 0px;
}

.main-header .info-box {
  position: relative;
  float: left;
  margin-left: 50px;
  font-size: 13px;
  color: #777777;
  max-width: 275px;
  padding: 0px 0px 0px 40px;
}

.main-header .info-box:last-child {
  padding-left: 0px;
}

.main-header .info-box .icon-box {
  position: absolute;
  left: 0px;
  top: 0px;
  color: #99cc00;
  font-size: 24px;
  line-height: 1em;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .info-box li {
  position: relative;
  line-height: 22px;
  color: #777777;
  font-size: 14px;
}

.main-header .info-box li a {
  color: #777777;
}

.main-header .header-lower {
  position: absolute;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
}

.main-header .nav-outer {
  position: relative;
  padding-right: 90px;
}

.main-header .links-nav-two {
  position: relative;
  float: right;
}

.main-header .links-nav-two li {
  position: relative;
  display: inline-block;
}

.main-menu {
  position: relative;
}

.main-menu .navbar-collapse {
  padding: 0px;
}

.main-menu .navigation.left-nav {
  float: left;
}

.main-menu .navigation.right-nav {
  float: right;
}

.main-menu .navigation.right-nav > li {
  margin-left: 40px;
  margin-right: 0px;
}

.main-menu .navigation {
  position: relative;
  margin-top: 0px;
}

.main-menu .navigation > li {
  position: relative;
  float: left;
  margin-right: 40px;
}

.main-menu .navigation > li:last-child {
  margin-right: 0px;
}

.main-header .sticky-header .main-menu .navigation > li {
  margin: 0px;
}

.main-menu .navigation > li > a {
  position: relative;
  display: block;
  padding: 38px 0px;
  font-size: 14px;
  color: #222222;
  line-height: 30px;
  font-weight: 400;
  opacity: 1;
  text-transform: uppercase;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  font-family: "Poppins", sans-serif;
}

.main-menu .navigation > li:last-child > a {
  background: none;
}

.sticky-header .main-menu .navigation > li > a {
  color: #181818;
  background: none;
  border: 0px;
  padding: 15px 15px !important;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a {
  color: #99cc00;
  opacity: 1;
}

.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a {
  background: #99cc00;
  color: #ffffff;
  opacity: 1;
  border: 0px;
}

.main-header .main-menu .navigation > li.current > a:after,
.main-header .main-menu .navigation > li:hover > a:after,
.sticky-header .main-menu .navigation > li > a:after {
  display: none !important;
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 120%;
  width: 240px;
  z-index: 100;
  display: none;
  padding: 0px 0px;
  background: #101010;
  border-top: 2px solid #99cc00;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  padding: 12px 20px;
  line-height: 22px;
  font-weight: 500;
  font-size: 14px;
  color: #e0e0e0;
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a {
  color: #ffffff;
  background-color: #99cc00;
}

.main-menu .navigation > li > ul > li.dropdown > a:after {
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 20px;
  display: block;
  line-height: 21px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after {
  color: #ffffff;
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 20px;
  width: 240px;
  z-index: 100;
  display: none;
  background: #101010;
  border-top: 2px solid #99cc00;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  position: relative;
  display: block;
  padding: 12px 20px;
  line-height: 22px;
  font-weight: 500;
  font-size: 14px;
  color: #e0e0e0;
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #ffffff;
  background-color: #99cc00;
}

.main-menu .navigation > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 0px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
  position: absolute;
  right: 12px;
  top: 6px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #99cc00;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.header-style-two .main-menu .navigation > li > a {
  padding: 44px 0px;
}

.header-style-two .logo-outer {
  position: relative;
  left: 0px;
  float: left;
  margin-left: 0px;
  padding: 18px 0px;
}

.header-style-two .nav-outer {
  float: right;
  padding-right: 90px;
}

.main-header .search-box-outer {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 16;
  margin-top: -18px;
}

.main-header .search-box-btn {
  position: relative;
  font-size: 14px;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: 0px;
  line-height: 38px;
  color: #9f9f9f;
  cursor: pointer;
  border-radius: 50%;
  background: #f4f4f4;
}
.main-header .basket-box-outer {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 16;
  margin-top: -18px;
}
.main-header .basket-box-btn {
  position: relative;
  font-size: 14px;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: 0px;
  line-height: 38px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  background: #99cc00;
}

.main-header.header-style-two .search-box-btn {
  color: #ffffff;
  background: #99cc00;
}

.main-header .search-box-outer .dropdown-menu {
  top: 68px;
  border-top: 3px solid #99cc00;
  padding: 0px;
  width: 280px;
  border-radius: 0px;
}

.main-header.header-style-two .search-box-outer .dropdown-menu {
  top: 75px;
}

.main-header .search-panel .form-container {
  padding: 25px 20px;
}

.main-header .search-panel .form-group {
  position: relative;
  margin: 0px;
}

.main-header .search-panel input[type="text"],
.main-header .search-panel input[type="search"],
.main-header .search-panel input[type="password"],
.main-header .search-panel select {
  display: block;
  width: 100%;
  line-height: 24px;
  padding: 7px 40px 7px 15px;
  height: 40px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
}

.main-header .search-panel input:focus,
.main-header .search-panel select:focus {
  border-color: #99cc00;
}

.main-header .search-panel .search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #555555;
  font-size: 12px;
  background: none;
  cursor: pointer;
}

.header-style-two .header-upper:after {
  display: none;
}

/*Social Links One*/

.social-links-one {
  position: relative;
  line-height: 1em;
  margin-top: 2px;
}

.social-links-one li {
  position: relative;
  display: inline-block;
  line-height: 1em;
}

.social-links-one li a {
  position: relative;
  font-size: 15px;
  color: #888888;
  margin-left: 15px;
  line-height: 1em;
  text-align: center;
  display: inline-block;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}

.social-links-one a:hover {
  color: #99cc00;
}

/*Social Links Two*/

.social-links-two {
  position: relative;
  line-height: 1em;
  margin-top: 2px;
}

.social-links-two li {
  position: relative;
  display: inline-block;
  line-height: 1em;
}

.social-links-two li a {
  position: relative;
  font-size: 20px;
  color: #ababab;
  margin-right: 25px;
  line-height: 1em;
  text-align: center;
  display: inline-block;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}

.social-links-two li:last-child a {
  margin-right: 0px;
}

.social-links-two a:hover {
  color: #99cc00;
}

/*Social Links Three*/

.social-links-three {
  position: relative;
  line-height: 1em;
  margin-right: 2px;
}

.social-links-three li {
  position: relative;
  display: inline-block;
  margin-right: 6px;
}

.social-links-three li a {
  position: relative;
  font-size: 15px;
  width: 36px;
  height: 36px;
  color: #ffffff;
  line-height: 34px;
  text-align: center;
  display: inline-block;
  background-color: #e7e7e7;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}

.social-links-three a:hover {
  color: #ffffff;
  background-color: #99cc00;
}

/*Social Links Four*/

.social-links-four {
  position: relative;
  line-height: 1em;
  margin-right: 2px;
}

.social-links-four li {
  position: relative;
  display: inline-block;
  margin: 0px 5px;
}

.social-links-four li a {
  position: relative;
  font-size: 15px;
  width: 46px;
  height: 46px;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #303030;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}

.social-links-four a:hover {
  color: #ffffff;
  background-color: #99cc00;
}

/*Social Links Five*/

.social-links-five {
  position: relative;
  line-height: 1em;
  margin-right: 2px;
}

.social-links-five li {
  position: relative;
  display: inline-block;
  margin-right: 6px;
}

.social-links-five li a {
  position: relative;
  font-size: 15px;
  width: 36px;
  height: 36px;
  color: #888888;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #f4f4f4;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}

.social-links-five a:hover {
  color: #ffffff;
  background-color: #99cc00;
}
