<footer
  class="main-footer"
  style="background-image: url(images/background/pattern-1.png)"
>
  <div class="auto-container">
    <!--Widgets Section-->
    <div class="widgets-section">
      <div class="row clearfix">
        <!--Big Column-->
        <div class="big-column col-md-6 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <!--Footer Column / Logo Widget-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget logo-widget">
                <div class="footer-logo">
                  <a href="index.html"
                    ><img src="images/logos/logoflt.png" alt=""
                  /></a>
                </div>
                <div class="widget-content">
                  <div class="text">Zdravlje je nova privlačnost!</div>
                  <ul class="social-links-two">
                    <li>
                      <a href="#"><span class="icon fa fa-facebook"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon fa fa-twitter"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon fa fa-instagram"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon fa fa-pinterest"></span></a>
                    </li>
                    <li>
                      <a href="#"
                        ><span class="icon fa fa-google-plus"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><span class="icon fa fa-youtube-play"></span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!--Footer Column / Contact Widget-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget contact-widget">
                <div class="footer-title">
                  <h2>Kontakt</h2>
                </div>
                <ul>
                  <li><span>Adresa</span>Vojvode Stepe 395b, Beograd</li>
                  <li><span>Telefon</span>+381 63 251 828</li>
                  <li><span>E-mail</span>fitnessloveteam&#64;hotmail.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--Big Column-->
        <div class="big-column col-md-6 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <!--Footer Column-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget gallery-widget">
                <div class="footer-title">
                  <h2>Galerija</h2>
                </div>
                <div class="images-outer clearfix">
                  <!--Image Box-->
                  <figure class="image-box">
                    <a
                      href="images/gallery/1.jpg"
                      class="lightbox-image"
                      title="Image Title Here"
                      data-fancybox-group="footer-gallery"
                      ><img src="images/resource/footer-thumb-1.jpg" alt=""
                    /></a>
                  </figure>
                  <!--Image Box-->
                  <figure class="image-box">
                    <a
                      href="images/gallery/2.jpg"
                      class="lightbox-image"
                      title="Image Title Here"
                      data-fancybox-group="footer-gallery"
                      ><img src="images/resource/footer-thumb-2.jpg" alt=""
                    /></a>
                  </figure>
                  <!--Image Box-->
                  <figure class="image-box">
                    <a
                      href="images/gallery/3.jpg"
                      class="lightbox-image"
                      title="Image Title Here"
                      data-fancybox-group="footer-gallery"
                      ><img src="images/resource/footer-thumb-3.jpg" alt=""
                    /></a>
                  </figure>
                  <!--Image Box-->
                  <figure class="image-box">
                    <a
                      href="images/gallery/1.jpg"
                      class="lightbox-image"
                      title="Image Title Here"
                      data-fancybox-group="footer-gallery"
                      ><img src="images/resource/footer-thumb-4.jpg" alt=""
                    /></a>
                  </figure>
                  <!--Image Box-->
                  <figure class="image-box">
                    <a
                      href="images/gallery/2.jpg"
                      class="lightbox-image"
                      title="Image Title Here"
                      data-fancybox-group="footer-gallery"
                      ><img src="images/resource/footer-thumb-5.jpg" alt=""
                    /></a>
                  </figure>
                  <!--Image Box-->
                  <figure class="image-box">
                    <a
                      href="images/gallery/3.jpg"
                      class="lightbox-image"
                      title="Image Title Here"
                      data-fancybox-group="footer-gallery"
                      ><img src="images/resource/footer-thumb-6.jpg" alt=""
                    /></a>
                  </figure>
                </div>
              </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget subscribe-widget">
                <div class="footer-title">
                  <h2>Novosti</h2>
                </div>
                <div class="widget-content">
                  <div class="newsletter-form">
                    <form method="post" action="contact.html">
                      <div class="form-group">
                        <input
                          type="text"
                          name="name"
                          value=""
                          placeholder="Ime *"
                          required=""
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          value=""
                          placeholder="E-mail"
                          required=""
                        />
                      </div>
                      <div class="form-group">
                        <button type="submit" class="theme-btn btn-style-one">
                          Pretplati se
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Footer Bottom-->
  <div class="footer-bottom">
    <div class="copyright">
      Copyright &copy; Fitness Love Team 2025. All rights reserved.
    </div>
  </div>
</footer>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header">
  <span class="icon fa fa-long-arrow-up"></span>
</div>
