.stories-section {
  position: relative;
  padding: 145px 0px 150px;
}

.stories-section .content-column {
  position: relative;
}

.stories-section .content-column .inner-box {
  position: relative;
  margin-top: 70px;
}

.stories-section .content-column .inner-box h3 {
  position: relative;
  color: #222222;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.stories-section .content-column .inner-box .text {
  position: relative;
  color: #555555;
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 25px;
}

.list-style-one {
  position: relative;
}

.list-style-one li {
  position: relative;
  padding-left: 30px;
  color: #555555;
  font-size: 14px;
  margin-bottom: 15px;
}

.list-style-one li:before {
  position: absolute;
  content: "\f105";
  left: 0px;
  top: 3px;
  font-size: 16px;
  color: #61c203;
  font-family: "Flaticon";
}

/*Story Slide*/

.stories-section .story-slide {
  padding-left: 12px;
}

.stories-section .story-box {
  position: relative;
  float: left;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stories-section .stories-carousel .story-box:nth-child(2n + 0) {
  position: relative;
  right: 35px;
  margin-top: 70px;
}

.story-box .inner-box {
  position: relative;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(204, 204, 204, 0.6);
  -moz-box-shadow: 0px 0px 20px 2px rgba(204, 204, 204, 0.6);
  box-shadow: 0px 0px 20px 2px rgba(204, 204, 204, 0.6);
}

.story-box .inner-box .image {
  position: relative;
}

.story-box .inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
}

.story-box .inner-box .text {
  position: relative;
  color: #333333;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  font-family: "Lora", serif;
}

.stories-section .carousel-column .owl-nav {
  display: none;
}

.stories-section .carousel-column .owl-dots {
  position: relative;
  text-align: right;
  right: 0px;
}

.stories-section .carousel-column .owl-dots .owl-dot {
  position: relative;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-top: 40px;
  display: inline-block;
  border: 1px solid #99cc00;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.stories-section .carousel-column .owl-dots .owl-dot.active span,
.stories-section .carousel-column .owl-dots .owl-dot:hover span {
  position: absolute;
  right: 2px;
  top: 2px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: #99cc00;
}

.fullwidth-section {
  position: relative;
  background-color: #fafafa;
}

.fullwidth-section .section-outer {
  position: relative;
}

.fullwidth-section .section-outer .image-column {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  background-size: cover;
}

.fullwidth-section .section-outer .image-column .hidden-image {
  display: none;
}

.fullwidth-section .section-outer .form-column {
  position: relative;
  width: 50%;
  float: right;
  padding: 90px 15px 90px 60px;
}

.fullwidth-section .section-outer .form-column .content {
  max-width: 535px;
  float: left;
}

/*Default Form*/

.default-form .row {
  margin: 0px -8px;
}

.default-form .form-group {
  position: relative;
  margin-bottom: 16px;
  padding: 0px 8px;
}

.default-form .form-group input {
  position: relative;
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 10px 20px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #ececec;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

.default-form .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 10px 20px;
  color: #ffffff;
  height: 170px;
  resize: none;
  background: #ffffff;
  border: 1px solid #ececec;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus {
  border-color: #61c203;
}

.default-form .form-group button {
  margin-top: 15px;
}
