<!--Testimonial Section-->
<section
  class="testimonial-section"
  style="background-image: url(images/background/3.jpg)"
>
  <div class="auto-container">
    <div class="two-item-carousel owl-theme owl-carousel">
      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-1.jpg" alt="" />
          </div>
          <h3>Violeta Golubović</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            I kao doktor neurologije, zbog nezdravih navika nakon trudnoće
            mučila sam se da skinem kilograme. Uz pravu ishranu i trening,
            uspela sam da smanjim procenat viscelarnih i telesnih masti, ali i
            izgubim kilograme. Ovaj proces mi je pokazao koliko je važno
            posvetiti se sebi, čak i kad se čini da je teško.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>

      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-2.jpg" alt="" />
          </div>
          <h3>Branislav Ralić</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            Doktor sam neurologije i za tri meseca sam izgubio preko 10 kg,
            smanjio 7% telesnih masti i 5% viscelarnih masti. Uz pravilnu
            ishranu i trening, dobio sam mnogo više energije i uspeo da promenim
            loše životne navike koje su me usporavale.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>

      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-1.jpg" alt="" />
          </div>
          <h3>Bogdan Mićović</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            Za tri meseca sam izgubio 16 kg i preko 50 cm u obimima. Promenio
            sam svoj lični opis i, kao neko ko nije voleo da trenira, u 25.
            godini života sam zavoleo trening. Ovaj put me naučio da je nikada
            nije kasno za promene i da uz pravu motivaciju sve postaje moguće.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>

      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-2.jpg" alt="" />
          </div>
          <h3>Boris Enča</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            Za tri meseca sam izgubio preko 10 kg i smanjio procenat telesnih
            masti. Uz pravu ishranu i trening, uspeo sam da korigujem loše
            navike i dovedem svoje telo u balans, osećajući se energičnije i
            zdravije nego ikada.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Testimonial Section-->
