<div class="page-wrapper">
  <!-- Preloader -->
  <div class="preloader"></div>

  <!-- Main Header-->
  <header class="main-header header-style-two">
    <!-- Header Top -->
    <div class="header-top">
      <div class="auto-container clearfix">
        <!--Top Left-->
        <div class="top-left pull-left">
          <ul class="links-nav clearfix">
            <li>
              <a href="#"
                ><span class="icon flaticon-smartphone-1"></span> +1800 123
                4567</a
              >
            </li>
            <li>
              <a href="#"
                ><span class="icon flaticon-envelope"></span>
                Info&#64;Dresden.com</a
              >
            </li>
          </ul>
        </div>

        <!--Top Right-->
        <div class="top-right pull-right">
          <ul class="social-links-one">
            <li>
              <a href="#"><span class="icon fa fa-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon fa fa-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon fa fa-instagram"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon fa fa-pinterest"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon fa fa-google-plus"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon fa fa-youtube-play"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Header Top End -->

    <!--Header-Upper-->
    <div class="header-upper">
      <div class="auto-container">
        <div class="clearfix">
          <!--Logo Outer-->
          <div class="logo-outer">
            <div class="logo">
              <a href="index.html"
                ><img src="images/logo.png" alt="" title=""
              /></a>
            </div>
          </div>

          <div class="nav-outer clearfix">
            <!-- Main Menu -->
            <nav class="main-menu">
              <div class="navbar-header">
                <!-- Toggle Button -->
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                >
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse clearfix">
                <!--Left Nav-->
                <ul class="navigation clearfix">
                  <li class="current dropdown">
                    <a href="#">Home</a>
                    <ul>
                      <li><a href="index.html">Homepage One</a></li>
                      <li><a href="index-2.html">Homepage Two</a></li>
                      <li class="dropdown">
                        <a href="#">Header Styles</a>
                        <ul>
                          <li><a href="index.html">Header Style One</a></li>
                          <li><a href="index-2.html">Header Style Two</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="about.html">About</a></li>
                  <li class="dropdown">
                    <a href="#">Pages</a>
                    <ul>
                      <li><a href="stories.html">Stories</a></li>
                      <li><a href="team.html">Our Team</a></li>
                      <li><a href="error-page.html">Error Page</a></li>
                    </ul>
                  </li>
                  <li><a href="services.html">Services</a></li>
                  <li class="dropdown">
                    <a href="#">Gallery</a>
                    <ul>
                      <li><a href="gallery.html">Gallery Three Column</a></li>
                      <li>
                        <a href="gallery-fullwidth.html">Gallery FullWidth</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#">Blog</a>
                    <ul>
                      <li><a href="blog.html">Our Blog</a></li>
                      <li><a href="blog-single.html">Blog Single</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </nav>

            <!--Search Box-->
            <div class="search-box-outer">
              <div class="dropdown">
                <button
                  class="search-box-btn dropdown-toggle"
                  type="button"
                  id="dropdownMenu3"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="fa fa-search"></span>
                </button>
                <ul
                  class="dropdown-menu pull-right search-panel"
                  aria-labelledby="dropdownMenu3"
                >
                  <li class="panel-outer">
                    <div class="form-container">
                      <form method="post" action="blog.html">
                        <div class="form-group">
                          <input
                            type="search"
                            name="field-name"
                            value=""
                            placeholder="Search Here"
                            required=""
                          />
                          <button type="submit" class="search-btn">
                            <span class="fa fa-search"></span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Header Upper-->

    <!--Sticky Header-->
    <div class="sticky-header">
      <div class="auto-container clearfix">
        <!--Logo-->
        <div class="logo pull-left">
          <a href="index.html" class="img-responsive"
            ><img src="images/logo-small.png" alt="" title=""
          /></a>
        </div>

        <!--Right Col-->
        <div class="right-col pull-right">
          <!-- Main Menu -->
          <nav class="main-menu">
            <div class="navbar-header">
              <!-- Toggle Button -->
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="current dropdown">
                  <a href="#">Home</a>
                  <ul>
                    <li><a href="index.html">Homepage One</a></li>
                    <li><a href="index-2.html">Homepage Two</a></li>
                    <li class="dropdown">
                      <a href="#">Header Styles</a>
                      <ul>
                        <li><a href="index.html">Header Style One</a></li>
                        <li><a href="index-2.html">Header Style Two</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li><a href="stories.html">Stories</a></li>
                    <li><a href="team.html">Our Team</a></li>
                    <li><a href="error-page.html">Error Page</a></li>
                  </ul>
                </li>
                <li><a href="services.html">Services</a></li>
                <li class="dropdown">
                  <a href="#">Gallery</a>
                  <ul>
                    <li><a href="gallery.html">Gallery Three Column</a></li>
                    <li>
                      <a href="gallery-fullwidth.html">Gallery FullWidth</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Blog</a>
                  <ul>
                    <li><a href="blog.html">Our Blog</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </nav>
          <!-- Main Menu End-->
        </div>
      </div>
    </div>
    <!--End Sticky Header-->
  </header>
  <!--End Main Header -->

  <!--Main Slider-->
  <section class="main-slider" data-start-height="800" data-slide-overlay="yes">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <li
            data-transition="fade"
            data-slotamount="1"
            data-masterspeed="1000"
            data-thumb="images/main-slider/image-1.jpg"
            data-saveperformance="off"
            data-title="Awesome Title Here"
          >
            <img
              src="images/main-slider/image-1.jpg"
              alt=""
              data-bgposition="center top"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
            />

            <div
              class="tp-caption sfl sfb tp-resizeme"
              data-x="left"
              data-hoffset="15"
              data-y="center"
              data-voffset="-140"
              data-speed="1500"
              data-start="500"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <h4>A Fresh approach To <span>Healthy Life</span></h4>
            </div>

            <div
              class="tp-caption sfl sfb tp-resizeme"
              data-x="left"
              data-hoffset="15"
              data-y="center"
              data-voffset="-50"
              data-speed="1500"
              data-start="1000"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <h2>
                Unlock your potential with <br />
                Good <span class="theme_color">Nutrition</span>
              </h2>
            </div>

            <div
              class="tp-caption sfl sfb tp-resizeme"
              data-x="left"
              data-hoffset="15"
              data-y="center"
              data-voffset="50"
              data-speed="1500"
              data-start="1500"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <div class="text">
                We handpick the best coaches and health experts from across the
                country <br />
                to make sure you get the most personalized health care
              </div>
            </div>

            <div
              class="tp-caption sfl sfb tp-resizeme"
              data-x="left"
              data-hoffset="15"
              data-y="center"
              data-voffset="140"
              data-speed="1500"
              data-start="2000"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <a href="#" class="theme-btn btn-style-one">Learn More</a>&ensp;
              &ensp;<a href="contact.html" class="theme-btn btn-style-two"
                >Contact Us</a
              >
            </div>
          </li>

          <li
            data-transition="fade"
            data-slotamount="1"
            data-masterspeed="1000"
            data-thumb="images/main-slider/image-2.jpg"
            data-saveperformance="off"
            data-title="Awesome Title Here"
          >
            <img
              src="images/main-slider/image-2.jpg"
              alt=""
              data-bgposition="center top"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
            />

            <div
              class="tp-caption sft sfb tp-resizeme"
              data-x="center"
              data-hoffset="0"
              data-y="center"
              data-voffset="-110"
              data-speed="1500"
              data-start="500"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <h4>A Fresh approach To <span>Healthy Life</span></h4>
            </div>

            <div
              class="tp-caption sfb sfb tp-resizeme"
              data-x="center"
              data-hoffset="0"
              data-y="center"
              data-voffset="0"
              data-speed="1500"
              data-start="1000"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <h2 class="text-center">
                Unlock your potential with <br />
                Good <span class="theme_color">Nutrition</span>
              </h2>
            </div>

            <div
              class="tp-caption sfb sfb tp-resizeme"
              data-x="center"
              data-hoffset="0"
              data-y="center"
              data-voffset="120"
              data-speed="1500"
              data-start="1500"
              data-easing="easeOutExpo"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.3"
              data-endspeed="1200"
              data-endeasing="Power4.easeIn"
            >
              <a href="#" class="theme-btn btn-style-one">Learn More</a>&ensp;
              &ensp;<a href="contact.html" class="theme-btn btn-style-two"
                >Contact Us</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--End Main Slider-->

  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="auto-container">
      <!--Sec Title-->
      <div class="sec-title centered">
        <div class="title">Why Choose <span>Dresden</span></div>
        <h2>Welcome To Dresden</h2>
        <div class="separetor"></div>
        <div class="text">
          Fight against oppression amplify assistance; countries medicine new
          approaches The Elders Global South advocate organization equal
          opportunity of vaccine international vulnerable citizens
        </div>
      </div>
      <div class="row clearfix">
        <!--Featured Block-->
        <div class="featured-block col-md-4 col-sm-6 col-xs-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <div class="icon-box">
                <span class="icon flaticon-apple"></span>
              </div>
              <img src="images/resource/featured-1.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <h3><a href="#">Nutrition Strategies</a></h3>
                  <div class="text">
                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum
                    ante ipsum primis in faucibus orci.faucibus orci.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Featured Block-->
        <div class="featured-block col-md-4 col-sm-6 col-xs-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="500ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <div class="icon-box">
                <span class="icon flaticon-yoga"></span>
              </div>
              <img src="images/resource/featured-2.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <h3><a href="#">Workout Routines</a></h3>
                  <div class="text">
                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum
                    ante ipsum primis in faucibus orci.faucibus orci.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Featured Block-->
        <div class="featured-block col-md-4 col-sm-6 col-xs-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="1000ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <div class="icon-box">
                <span class="icon flaticon-exercise-1"></span>
              </div>
              <img src="images/resource/featured-3.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <h3><a href="#">Support & Motivation</a></h3>
                  <div class="text">
                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum
                    ante ipsum primis in faucibus orci.faucibus orci.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Welcome Section-->

  <!--Fun Facts Section -->
  <section
    class="fun-facts-section"
    style="background-image: url(images/background/1.jpg)"
  >
    <div class="auto-container">
      <div class="row clearfix">
        <!--Column-->
        <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-yoga"></span></div>
            <div class="content">
              <div class="count-outer">
                <span class="count-text" data-speed="2000" data-stop="250"
                  >0</span
                >
                <span class="plus">+</span>
              </div>
              <div class="counter-title">Workouts Sessions</div>
            </div>
          </div>
        </div>

        <!--Column-->
        <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-thumb-up"></span></div>
            <div class="content">
              <div class="count-outer">
                <span class="count-text" data-speed="1500" data-stop="155"
                  >0</span
                >
                <span class="plus">+</span>
              </div>
              <div class="counter-title">Happy Customers</div>
            </div>
          </div>
        </div>

        <!--Column-->
        <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="inner">
            <div class="icon-box">
              <span class="flaticon-heart-shape-with-beats-line"></span>
            </div>
            <div class="content">
              <div class="count-outer">
                <span class="count-text" data-speed="2500" data-stop="100"
                  >0</span
                >
              </div>
              <div class="counter-title">Days Of Program</div>
            </div>
          </div>
        </div>

        <!--Column-->
        <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-medal-1"></span></div>
            <div class="content">
              <div class="count-outer">
                <span class="count-text" data-speed="2000" data-stop="128"
                  >0</span
                >
              </div>
              <div class="counter-title">Awards Winning</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Fun Facts Section -->

  <!--Activity Section-->
  <section class="activity-section">
    <div class="auto-container">
      <!--Sec Title-->
      <div class="sec-title centered">
        <div class="title">Daily Health Coaching</div>
        <h2>Our Daily Activities</h2>
        <div class="separetor"></div>
        <div class="text">
          Fight against oppression amplify assistance; countries medicine new
          approaches The Elders.
        </div>
      </div>
      <div class="outer-box">
        <div class="circular-layer"></div>
        <div class="activity-outer">
          <!--Services Block-->
          <div class="services-block services-column">
            <div class="inner-box">
              <div class="icon-box">
                <span class="icon flaticon-technology-1"></span>
              </div>
              <h3><a href="#">Connect with Us</a></h3>
              <div class="text">Health Coach look at exercise, eating.</div>
            </div>
          </div>

          <!--Services Block Two-->
          <div class="services-block-two services-column">
            <div class="inner-box">
              <div class="icon-box">
                <span class="icon flaticon-yoga"></span>
              </div>
              <h3><a href="#">Exercise</a></h3>
              <div class="text">Health Coach look at exercise.</div>
            </div>
          </div>

          <!--Services Block Three-->
          <div class="services-block-three services-column">
            <div class="inner-box">
              <div class="icon-box">
                <span class="icon flaticon-pyramid"></span>
              </div>
              <h3><a href="#">Go Natural</a></h3>
              <div class="text">Health Coach look at exercise.</div>
            </div>
          </div>

          <!--Services Block Two-->
          <div class="services-block-two services-column">
            <div class="inner-box">
              <div class="icon-box">
                <span class="icon flaticon-apple"></span>
              </div>
              <h3><a href="#">Healthy Food</a></h3>
              <div class="text">Health Coach look at exercise.</div>
            </div>
          </div>

          <!--Services Block Three-->
          <div class="services-block-three services-column">
            <div class="inner-box">
              <div class="icon-box">
                <span class="icon flaticon-thumb-up"></span>
              </div>
              <h3><a href="#">Celebrate</a></h3>
              <div class="text">Health Coach look at exercise.</div>
            </div>
          </div>
        </div>
        <div class="image">
          <img src="images/resource/activity-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!--End Activity Section-->

  <!--Why Us Section-->
  <section
    class="why-us-section"
    style="background-image: url(images/background/2.jpg)"
  >
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
          <!--Sec Title-->
          <div class="sec-title">
            <div class="title">Reason Why Choose Us</div>
            <h2>What We Are Doing</h2>
            <div class="separetor"></div>
            <div class="text">
              Fight against oppression amplify assistance; countries medicine
              new approaches The Elders Global South advocate organization equal
              opportunity of vaccine international vulnerable citizens
              international vulnerable citizens.
            </div>
          </div>

          <div class="row clearfix">
            <!--Services Block Four-->
            <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div
                  class="image-layer"
                  style="background-image: url(images/resource/services.jpg)"
                ></div>
                <div class="icon-box">
                  <span class="icon flaticon-exercise-2"></span>
                </div>
                <h3><a href="#">Balance Body</a></h3>
              </div>
            </div>

            <!--Services Block Four-->
            <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div
                  class="image-layer"
                  style="background-image: url(images/resource/services.jpg)"
                ></div>
                <div class="icon-box">
                  <span class="icon flaticon-exercise-1"></span>
                </div>
                <h3><a href="#">Physical Activity</a></h3>
              </div>
            </div>

            <!--Services Block Four-->
            <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div
                  class="image-layer"
                  style="background-image: url(images/resource/services.jpg)"
                ></div>
                <div class="icon-box">
                  <span class="icon flaticon-exercise-3"></span>
                </div>
                <h3><a href="#">Fitness Program</a></h3>
              </div>
            </div>

            <!--Services Block Four-->
            <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div
                  class="image-layer"
                  style="background-image: url(images/resource/services.jpg)"
                ></div>
                <div class="icon-box">
                  <span class="icon flaticon-gym"></span>
                </div>
                <h3><a href="#">Exercise Program</a></h3>
              </div>
            </div>

            <!--Services Block Four-->
            <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div
                  class="image-layer"
                  style="background-image: url(images/resource/services.jpg)"
                ></div>
                <div class="icon-box">
                  <span class="icon flaticon-yoga"></span>
                </div>
                <h3><a href="#">Daily Health</a></h3>
              </div>
            </div>

            <!--Services Block Four-->
            <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div
                  class="image-layer"
                  style="background-image: url(images/resource/services.jpg)"
                ></div>
                <div class="icon-box">
                  <span
                    class="icon flaticon-heart-shape-with-beats-line"
                  ></span>
                </div>
                <h3><a href="#">Improving Health</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Why Us Section-->

  <!--Gallery Section-->
  <section class="gallery-section">
    <div class="auto-container">
      <!--Sec Title-->
      <div class="sec-title centered">
        <div class="title">Latest Photos</div>
        <h2>Our Gallery</h2>
        <div class="separetor"></div>
        <div class="text">
          Fight against oppression amplify assistance; countries medicine new
          approaches countries medicine countries
        </div>
      </div>

      <!--Sortable Gallery-->
      <div class="mixitup-gallery">
        <!--Filter-->
        <div class="filters clearfix">
          <ul class="filter-tabs filter-btns">
            <li class="filter active" data-role="button" data-filter="all">
              Show All
            </li>
            <li class="filter" data-role="button" data-filter=".food">
              Healthy food
            </li>
            <li class="filter" data-role="button" data-filter=".yoga">Yoga</li>
            <li class="filter" data-role="button" data-filter=".work">
              Workouts
            </li>
            <li class="filter" data-role="button" data-filter=".fitness">
              Fitness
            </li>
          </ul>
        </div>

        <div class="filter-list row clearfix">
          <!--Gallery Item-->
          <div class="gallery-item mix all col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div class="image-box">
                <img src="images/gallery/1.jpg" alt="" />
                <div class="overlay-box">
                  <div class="content">
                    <a
                      class="lightbox-image"
                      href="images/gallery/1.jpg"
                      title="Image Title Here"
                      data-fancybox-group="example-gallery"
                      ><span class="icon flaticon-plus"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Gallery Item-->
          <div
            class="gallery-item mix all yoga work col-md-4 col-sm-6 col-xs-12"
          >
            <div class="inner-box">
              <div class="image-box">
                <img src="images/gallery/2.jpg" alt="" />
                <div class="overlay-box">
                  <div class="content">
                    <a
                      class="lightbox-image"
                      href="images/gallery/2.jpg"
                      title="Image Title Here"
                      data-fancybox-group="example-gallery"
                      ><span class="icon flaticon-plus"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Gallery Item-->
          <div class="gallery-item mix all work col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div class="image-box">
                <img src="images/gallery/3.jpg" alt="" />
                <div class="overlay-box">
                  <div class="content">
                    <a
                      class="lightbox-image"
                      href="images/gallery/3.jpg"
                      title="Image Title Here"
                      data-fancybox-group="example-gallery"
                      ><span class="icon flaticon-plus"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Gallery Item-->
          <div
            class="gallery-item mix all work fitness food col-md-4 col-sm-6 col-xs-12"
          >
            <div class="inner-box">
              <div class="image-box">
                <img src="images/gallery/4.jpg" alt="" />
                <div class="overlay-box">
                  <div class="content">
                    <a
                      class="lightbox-image"
                      href="images/gallery/4.jpg"
                      title="Image Title Here"
                      data-fancybox-group="example-gallery"
                      ><span class="icon flaticon-plus"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Gallery Item-->
          <div
            class="gallery-item mix all fitness food yoga col-md-4 col-sm-6 col-xs-12"
          >
            <div class="inner-box">
              <div class="image-box">
                <img src="images/gallery/5.jpg" alt="" />
                <div class="overlay-box">
                  <div class="content">
                    <a
                      class="lightbox-image"
                      href="images/gallery/5.jpg"
                      title="Image Title Here"
                      data-fancybox-group="example-gallery"
                      ><span class="icon flaticon-plus"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Gallery Item-->
          <div
            class="gallery-item mix all food yoga col-md-4 col-sm-6 col-xs-12"
          >
            <div class="inner-box">
              <div class="image-box">
                <img src="images/gallery/6.jpg" alt="" />
                <div class="overlay-box">
                  <div class="content">
                    <a
                      class="lightbox-image"
                      href="images/gallery/6.jpg"
                      title="Image Title Here"
                      data-fancybox-group="example-gallery"
                      ><span class="icon flaticon-plus"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Gallery Section-->

  <!--Testimonial Section-->
  <section
    class="testimonial-section"
    style="background-image: url(images/background/3.jpg)"
  >
    <div class="auto-container">
      <div class="two-item-carousel owl-theme owl-carousel">
        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="image">
              <img src="images/resource/author-1.jpg" alt="" />
            </div>
            <h3>David warner</h3>
            <div class="title">Happy Customer</div>
            <div class="text">
              Perspiciatis unde omnis iste natus sed error voluptatem
              accusantium uts doloremque laudantium, totrem expllaudantium,
              totrem explicabo icabo.
            </div>
            <div class="quote-icon">
              <span class="icon flaticon-right-quotation-mark"></span>
            </div>
          </div>
        </div>

        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="image">
              <img src="images/resource/author-2.jpg" alt="" />
            </div>
            <h3>Seth rollins</h3>
            <div class="title">Happy Customer</div>
            <div class="text">
              Perspiciatis unde omnis iste natus sed error voluptatem
              accusantium uts doloremque laudantium, totrem expllaudantium,
              totrem explicabo icabo.
            </div>
            <div class="quote-icon">
              <span class="icon flaticon-right-quotation-mark"></span>
            </div>
          </div>
        </div>

        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="image">
              <img src="images/resource/author-1.jpg" alt="" />
            </div>
            <h3>David warner</h3>
            <div class="title">Happy Customer</div>
            <div class="text">
              Perspiciatis unde omnis iste natus sed error voluptatem
              accusantium uts doloremque laudantium, totrem expllaudantium,
              totrem explicabo icabo.
            </div>
            <div class="quote-icon">
              <span class="icon flaticon-right-quotation-mark"></span>
            </div>
          </div>
        </div>

        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="image">
              <img src="images/resource/author-2.jpg" alt="" />
            </div>
            <h3>Seth rollins</h3>
            <div class="title">Happy Customer</div>
            <div class="text">
              Perspiciatis unde omnis iste natus sed error voluptatem
              accusantium uts doloremque laudantium, totrem expllaudantium,
              totrem explicabo icabo.
            </div>
            <div class="quote-icon">
              <span class="icon flaticon-right-quotation-mark"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Testimonial Section-->

  <!--Default Section-->
  <section class="default-section">
    <div class="auto-container">
      <div class="row clearfix">
        <!--Column-->
        <div class="column col-md-6 col-sm-12 col-xs-12">
          <!--Sec Title-->
          <div class="sec-title">
            <div class="title">Our Latest Blog</div>
            <h2>Latest News</h2>
            <div class="separetor"></div>
          </div>

          <!--News Block-->
          <div class="news-block">
            <div class="inner-box">
              <div class="row clearfix">
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                  <div class="image">
                    <a href="blog-single.html"
                      ><img src="images/resource/news-1.jpg" alt=""
                    /></a>
                  </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                  <div class="content-inner">
                    <h3><a href="blog-single.html">Health Body exercise</a></h3>
                    <div class="post-date">Posted 12 April 2017</div>
                    <div class="text">
                      If you are going to use a passage of Ipsum, you need to be
                      sure there isnt anything.
                    </div>
                    <div class="block-info">
                      <div class="inner">
                        <div class="image">
                          <img src="images/resource/author-3.jpg" alt="" />
                        </div>
                        <h4>David Warner</h4>
                        <div class="designation">Special Coach</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--News Block-->
          <div class="news-block">
            <div class="inner-box">
              <div class="row clearfix">
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                  <div class="image">
                    <a href="blog-single.html"
                      ><img src="images/resource/news-2.jpg" alt=""
                    /></a>
                  </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                  <div class="content-inner">
                    <h3>
                      <a href="blog-single.html">Build an Athletic Body</a>
                    </h3>
                    <div class="post-date">Posted 12 April 2017</div>
                    <div class="text">
                      If you are going to use a passage of Ipsum, you need to be
                      sure there isnt anything.
                    </div>
                    <div class="block-info">
                      <div class="inner">
                        <div class="image">
                          <img src="images/resource/author-4.jpg" alt="" />
                        </div>
                        <h4>Seth Rollins</h4>
                        <div class="designation">Special Coach</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Column-->
        <div class="column col-md-6 col-sm-12 col-xs-12">
          <!--Sec Title-->
          <div class="sec-title">
            <div class="title">Frequently ask Questions</div>
            <h2>Ask Questions</h2>
            <div class="separetor"></div>
          </div>

          <!--Accordion Box-->
          <ul class="accordion-box accordian-style-one">
            <!--Block-->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon fa fa-angle-right"></span>
                </div>
                A Natural way of improving your health.
              </div>
              <div class="acc-content">
                <div class="content-text">
                  <div class="image">
                    <img src="images/resource/faq-img.jpg" alt="" />
                  </div>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulput
                    vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat
                  </p>
                </div>
              </div>
            </li>

            <!--Block-->
            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer">
                  <span class="icon fa fa-angle-right"></span>
                </div>
                Create Your Healthier Lives
              </div>
              <div class="acc-content current">
                <div class="content-text">
                  <div class="image">
                    <img src="images/resource/faq-img.jpg" alt="" />
                  </div>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulput
                    vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat
                  </p>
                </div>
              </div>
            </li>

            <!--Block-->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon fa fa-angle-right"></span>
                </div>
                Healthy and Delicious Recipes
              </div>
              <div class="acc-content">
                <div class="content-text">
                  <div class="image">
                    <img src="images/resource/faq-img.jpg" alt="" />
                  </div>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulput
                    vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat
                  </p>
                </div>
              </div>
            </li>

            <!--Block-->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon fa fa-angle-right"></span>
                </div>
                Fitness & Performance
              </div>
              <div class="acc-content">
                <div class="content-text">
                  <div class="image">
                    <img src="images/resource/faq-img.jpg" alt="" />
                  </div>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulput
                    vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat
                  </p>
                </div>
              </div>
            </li>

            <!--Block-->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon fa fa-angle-right"></span>
                </div>
                The relationship between the mind and body
              </div>
              <div class="acc-content">
                <div class="content-text">
                  <div class="image">
                    <img src="images/resource/faq-img.jpg" alt="" />
                  </div>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulput
                    vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <!--End Accordion Box-->
        </div>
      </div>
    </div>
  </section>
  <!--End Default Section-->

  <!--Main Footer-->
  <footer
    class="main-footer"
    style="background-image: url(images/background/pattern-1.png)"
  >
    <div class="auto-container">
      <!--Widgets Section-->
      <div class="widgets-section">
        <div class="row clearfix">
          <!--Big Column-->
          <div class="big-column col-md-6 col-sm-12 col-xs-12">
            <div class="row clearfix">
              <!--Footer Column / Logo Widget-->
              <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget logo-widget">
                  <div class="footer-logo">
                    <a href="index.html"
                      ><img src="images/footer-logo.png" alt=""
                    /></a>
                  </div>
                  <div class="widget-content">
                    <div class="text">
                      Maecenas tristique gravida, odio et sagi ttis justo.
                      Suspendisse ultricies nisi ultricies nisi veafn.
                    </div>
                    <ul class="social-links-two">
                      <li>
                        <a href="#"
                          ><span class="icon fa fa-facebook"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"><span class="icon fa fa-twitter"></span></a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="icon fa fa-instagram"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="icon fa fa-pinterest"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="icon fa fa-google-plus"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="icon fa fa-youtube-play"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!--Footer Column / Contact Widget-->
              <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget contact-widget">
                  <div class="footer-title">
                    <h2>Contact</h2>
                  </div>
                  <ul>
                    <li>
                      <span>Address</span>4 Main Street, MA 200, Australia
                    </li>
                    <li><span>Phone</span>(1800) 123 4567, (1800) 123 4568</li>
                    <li><span>Email</span>Info&#64;Dresden.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!--Big Column-->
          <div class="big-column col-md-6 col-sm-12 col-xs-12">
            <div class="row clearfix">
              <!--Footer Column-->
              <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget gallery-widget">
                  <div class="footer-title">
                    <h2>Our Gallery</h2>
                  </div>
                  <div class="images-outer clearfix">
                    <!--Image Box-->
                    <figure class="image-box">
                      <a
                        href="images/gallery/1.jpg"
                        class="lightbox-image"
                        title="Image Title Here"
                        data-fancybox-group="footer-gallery"
                        ><img src="images/resource/footer-thumb-1.jpg" alt=""
                      /></a>
                    </figure>
                    <!--Image Box-->
                    <figure class="image-box">
                      <a
                        href="images/gallery/2.jpg"
                        class="lightbox-image"
                        title="Image Title Here"
                        data-fancybox-group="footer-gallery"
                        ><img src="images/resource/footer-thumb-2.jpg" alt=""
                      /></a>
                    </figure>
                    <!--Image Box-->
                    <figure class="image-box">
                      <a
                        href="images/gallery/3.jpg"
                        class="lightbox-image"
                        title="Image Title Here"
                        data-fancybox-group="footer-gallery"
                        ><img src="images/resource/footer-thumb-3.jpg" alt=""
                      /></a>
                    </figure>
                    <!--Image Box-->
                    <figure class="image-box">
                      <a
                        href="images/gallery/1.jpg"
                        class="lightbox-image"
                        title="Image Title Here"
                        data-fancybox-group="footer-gallery"
                        ><img src="images/resource/footer-thumb-4.jpg" alt=""
                      /></a>
                    </figure>
                    <!--Image Box-->
                    <figure class="image-box">
                      <a
                        href="images/gallery/2.jpg"
                        class="lightbox-image"
                        title="Image Title Here"
                        data-fancybox-group="footer-gallery"
                        ><img src="images/resource/footer-thumb-5.jpg" alt=""
                      /></a>
                    </figure>
                    <!--Image Box-->
                    <figure class="image-box">
                      <a
                        href="images/gallery/3.jpg"
                        class="lightbox-image"
                        title="Image Title Here"
                        data-fancybox-group="footer-gallery"
                        ><img src="images/resource/footer-thumb-6.jpg" alt=""
                      /></a>
                    </figure>
                  </div>
                </div>
              </div>

              <!--Footer Column-->
              <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget subscribe-widget">
                  <div class="footer-title">
                    <h2>News letter</h2>
                  </div>
                  <div class="widget-content">
                    <div class="newsletter-form">
                      <form method="post" action="contact.html">
                        <div class="form-group">
                          <input
                            type="text"
                            name="name"
                            value=""
                            placeholder="Name *"
                            required=""
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="email"
                            name="email"
                            value=""
                            placeholder="Email Id"
                            required=""
                          />
                        </div>
                        <div class="form-group">
                          <button type="submit" class="theme-btn btn-style-one">
                            SUBSCRIBE
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
      <div class="copyright">
        Copyright &copy; 2017 Dresden. All rights reserved.
      </div>
    </div>
  </footer>
  <!--End Main Footer-->
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header">
  <span class="icon fa fa-long-arrow-up"></span>
</div>
