<!--Page Title-->
<app-page-titel [pageTitel]="pageTitel"></app-page-titel>
<!--End Page Title-->
@if(showProductDesc){
<app-dialog (close)="onCloseShowDialog()" [product]="product"></app-dialog>
}
<div class="sidebar-page-container">
  <div class="row">
    @if ((products())) { @for (product of products(); track product.id){
    <div class="col-md-3">
      <div class="card">
        <img
          [src]="'../../../' + product.slika"
          class="img-responsive"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.naziv }}</h5>
          <p class="card-text text">{{ product.opis }}</p>
          <div class="price-button-container">
            <p class="text-primary">
              <strong>{{ product.cena }}</strong>
            </p>
            <button
              class="btn btn-primary btn-block"
              (click)="addToBasket(product.id, 1)"
            >
              Add to Cart
            </button>
            <button
              class="btn btn-primary btn-block"
              (click)="shoProductDescription(product)"
            >
              Show Dialog
            </button>
          </div>
        </div>
      </div>
    </div>
    } }
  </div>
</div>
