<app-page-titel [pageTitel]="pageTitel"></app-page-titel>

<!--About Section-->
<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Content Column-->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <!--Sec Title-->
          <div class="sec-title">
            <div class="title">Zašto baš <span>Fitness Love Team?</span></div>
            <h2>O nama</h2>
            <div class="separetor"></div>
          </div>
          <div class="text">
            Fitness Love Team je tim posvećen zdravlju, snazi i balansiranom
            životu. Kao fitness treneri i zaljubljenici u zdravu ishranu,
            zajedno sa našom zajednicom stvaramo pozitivnu energiju i motivaciju
            za postizanje ciljeva. Verujemo u moć discipline, ali i u važnost
            ljubavi prema sebi i svom telu. Kroz personalizovane planove ishrane
            i treninga, pomažemo svakom članu da pronađe ravnotežu između
            fizičkog zdravlja i mentalnog blagostanja. Naša misija je da
            inspirišemo ljude da postanu najbolja verzija sebe, kroz podršku,
            savete i zajednički rad na ciljevima. Fitness Love Team nije samo
            tim – to je porodica koja se podržava, motiviše i raste zajedno.
          </div>
          <a routerLink="'/about'" class="theme-btn btn-style-one">Još...</a>
        </div>
      </div>
      <!--Image Column-->
      <div class="image-column col-md-6 col-sm-12 col-xs-12">
        <div class="image">
          <img src="images/resource/about-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--End About Section-->

<!--Fun Facts Section -->
<section
  class="fun-facts-section"
  style="background-image: url(images/background/flt.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-yoga"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2000" data-stop="250"
                >0</span
              >
              <span class="plus">+</span>
            </div>
            <div class="counter-title">Treninzi i vežbanje</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-thumb-up"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="1500" data-stop="155"
                >0</span
              >
              <span class="plus">+</span>
            </div>
            <div class="counter-title">Zadovoljni korisnici</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box">
            <span class="flaticon-heart-shape-with-beats-line"></span>
          </div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2500" data-stop="100"
                >0</span
              >
            </div>
            <div class="counter-title">Trajanje programa</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-medal-1"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2000" data-stop="128"
                >0</span
              >
            </div>
            <div class="counter-title">Rezultati koji inspirišu</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Fun Facts Section -->

<!--Welcome Section-->
<section class="welcome-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Zašto baš <span>Fitness Love Team?</span></div>
      <h2>Dobro nam došli</h2>
      <div class="separetor"></div>
      <div class="text">
        Verujemo da prava promena dolazi iz balansa tela, uma i zajedništva. Naš
        tim kombinuje stručno vođstvo, motivaciju i personalizovan pristup kako
        bismo vam pomogli da postignete najbolje rezultate – i da ih zadržite!
      </div>
    </div>
    <div class="row clearfix">
      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-apple"></span>
            </div>
            <img src="images/resource/featured-1.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Pravilna ishrana za bolje rezultate</a></h3>
                <div class="text">
                  Pravilna ishrana je ključ za postizanje boljih rezultata, više
                  energije i dugoročno zdravlje.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="500ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-yoga"></span>
            </div>
            <img src="images/resource/featured-2.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Efikasni treninzi za najbolju formu</a></h3>
                <div class="text">
                  Programi vežbanja prilagođeni vašim ciljevima – za snagu,
                  izdržljivost i bolju formu.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="1000ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-exercise-1"></span>
            </div>
            <img src="images/resource/featured-3.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Podrška i motivacija</a></h3>
                <div class="text">
                  Neprekidna podrška i motivacija na svakom koraku vaše
                  transformacije.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Welcome Section-->

<!--Testimonial Section-->
<section
  class="testimonial-section"
  style="background-image: url(images/background/flt.jpg)"
>
  <div class="auto-container">
    <div class="two-item-carousel owl-theme owl-carousel">
      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-1.jpg" alt="" />
          </div>
          <h3>Radovan Jovanović</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            Razumem koliko nedostatak samopouzdanja može biti prepreka, jer sam
            i sam prošao kroz taj proces. Smanjio sam 5% viscelarnih masti i 12%
            telesnih masti, a uz pravi pristup, trening mi sada donosi bolje
            rezultate i više energije. Pravilna ishrana i podrška su mi pomogli
            da ostvarim ciljeve koje ranije nisam mogao, zato sam posvećen tome
            da inspirišem i pomažem drugima na njihovom putu transformacije.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>

      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-2.jpg" alt="" />
          </div>
          <h3>Violeta Golubović</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            I kao doktor neurologije, zbog nezdravih navika nakon trudnoće
            mučila sam se da skinem kilograme. Uz pravu ishranu i trening,
            uspela sam da smanjim procenat viscelarnih i telesnih masti, ali i
            izgubim kilograme. Ovaj proces mi je pokazao koliko je važno
            posvetiti se sebi, čak i kad se čini da je teško.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>

      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-1.jpg" alt="" />
          </div>
          <h3>Branislav Ralić</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            Doktor sam neurologije i za tri meseca sam izgubio preko 10 kg,
            smanjio 7% telesnih masti i 5% viscelarnih masti. Uz pravilnu
            ishranu i trening, dobio sam mnogo više energije i uspeo da promenim
            loše životne navike koje su me usporavale.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>

      <!--Testimonial Block-->
      <div class="testimonial-block">
        <div class="inner-box">
          <div class="image">
            <img src="images/resource/author-2.jpg" alt="" />
          </div>
          <h3>Bogdan Mićović</h3>
          <div class="title">Zadovoljni klijent</div>
          <div class="text">
            Za tri meseca sam izgubio 16 kg i preko 50 cm u obimima. Promenio
            sam svoj lični opis i, kao neko ko nije voleo da trenira, u 25.
            godini života sam zavoleo trening. Ovaj put me naučio da je nikada
            nije kasno za promene i da uz pravu motivaciju sve postaje moguće.
          </div>
          <div class="quote-icon">
            <span class="icon flaticon-right-quotation-mark"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Testimonial Section-->

<!--Coaches Section-->
<section class="coaches-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Upoznajte naše</div>
      <h2>članove</h2>
      <div class="separetor"></div>
      <div class="text">
        Naš stručni tim se sastoji od licenciranih trenera i wellness savetnika
        koji su posvećeni vašem napretku i pružaju personalizovane savete i
        podršku na svakom koraku.
      </div>
    </div>
    <div class="row clearfix">
      <!--Coach Block-->
      <div class="coach-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"
              ><img src="images/resource/coach-1.jpg" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <h3><a href="#">Miloš Ojdanić</a></h3>
            <div class="designation">Licencirani fitness instruktor</div>
            <div class="text-outer">
              <div class="text">
                Moj cilj je da inspirišem i podržim ljude da postignu svoje
                zdravstvene ciljeve kroz personalizovane treninge i programe
                ishrane.
              </div>
            </div>
            <ul class="social-links-three">
              <li>
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Coach Block-->
      <div class="coach-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"
              ><img src="images/resource/coach-2.jpg" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <h3><a href="#">Radovan Jovanović</a></h3>
            <div class="designation">Wellness Savetnik</div>
            <div class="text-outer">
              <div class="text">
                Nakon svoje transformacije u koju ni sam nisam verovao, odlučio
                sam da postanem inspiracija za druge, pomažući im da promene
                mindset i postignu rezultate koje su oduvek želeli.
              </div>
            </div>
            <ul class="social-links-three">
              <li>
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Coach Block-->
      <div class="coach-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"
              ><img src="images/resource/coach-3.jpg" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <h3><a href="#">Snežana Babić</a></h3>
            <div class="designation">Wellness Savetnik</div>
            <div class="text-outer">
              <div class="text">
                Moj cilj je da pomognem ljudima da postignu ravnotežu u životu
                kroz pravilnu ishranu, fizičku aktivnost i mentalnu podršku,
                kako bi se osećali bolje, energičnije i srećnije.
              </div>
            </div>
            <ul class="social-links-three">
              <li>
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Couches Section-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header">
  <span class="icon fa fa-long-arrow-up"></span>
</div>
