<app-page-titel [pageTitel]="pageTitel"></app-page-titel>

<!--About Section-->
<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Content Column-->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <!--Sec Title-->
          <div class="sec-title">
            <div class="title">Zašto baš <span>Fitness Love Team?</span></div>
            <h2>O nama</h2>
            <div class="separetor"></div>
          </div>
          <div class="text">
            Fitness Love Team je tim posvećen zdravlju, snazi i balansiranom
            životu. Kao fitness treneri i zaljubljenici u zdravu ishranu,
            zajedno sa našom zajednicom stvaramo pozitivnu energiju i motivaciju
            za postizanje ciljeva. Verujemo u moć discipline, ali i u važnost
            ljubavi prema sebi i svom telu. Kroz personalizovane planove ishrane
            i treninga, pomažemo svakom članu da pronađe ravnotežu između
            fizičkog zdravlja i mentalnog blagostanja. Naša misija je da
            inspirišemo ljude da postanu najbolja verzija sebe, kroz podršku,
            savete i zajednički rad na ciljevima. Fitness Love Team nije samo
            tim – to je porodica koja se podržava, motiviše i raste zajedno.
          </div>
          <a routerLink="'/about'" class="theme-btn btn-style-one">Još...</a>
        </div>
      </div>
      <!--Image Column-->
      <div class="image-column col-md-6 col-sm-12 col-xs-12">
        <div class="image">
          <img src="images/resource/about-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--End About Section-->

<!--Fun Facts Section -->
<section
  class="fun-facts-section"
  style="background-image: url(images/background/flt.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-yoga"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2000" data-stop="250"
                >0</span
              >
              <span class="plus">+</span>
            </div>
            <div class="counter-title">Treninzi i vežbanje</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-thumb-up"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="1500" data-stop="155"
                >0</span
              >
              <span class="plus">+</span>
            </div>
            <div class="counter-title">Zadovoljni korisnici</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box">
            <span class="flaticon-heart-shape-with-beats-line"></span>
          </div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2500" data-stop="100"
                >0</span
              >
            </div>
            <div class="counter-title">Trajanje programa</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-medal-1"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2000" data-stop="128"
                >0</span
              >
            </div>
            <div class="counter-title">Rezultati koji inspirišu</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Fun Facts Section -->

<!--Welcome Section-->
<section class="welcome-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Zašto baš <span>Fitness Love Team?</span></div>
      <h2>Dobro nam došli</h2>
      <div class="separetor"></div>
      <div class="text">
        Verujemo da prava promena dolazi iz balansa tela, uma i zajedništva. Naš
        tim kombinuje stručno vođstvo, motivaciju i personalizovan pristup kako
        bismo vam pomogli da postignete najbolje rezultate – i da ih zadržite!
      </div>
    </div>
    <div class="row clearfix">
      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-apple"></span>
            </div>
            <img src="images/resource/featured-1.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Pravilna ishrana za bolje rezultate</a></h3>
                <div class="text">
                  Pravilna ishrana je ključ za postizanje boljih rezultata, više
                  energije i dugoročno zdravlje.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="500ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-yoga"></span>
            </div>
            <img src="images/resource/featured-2.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Efikasni treninzi za najbolju formu</a></h3>
                <div class="text">
                  Programi vežbanja prilagođeni vašim ciljevima – za snagu,
                  izdržljivost i bolju formu.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="1000ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-exercise-1"></span>
            </div>
            <img src="images/resource/featured-3.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Podrška i motivacija</a></h3>
                <div class="text">
                  Neprekidna podrška i motivacija na svakom koraku vaše
                  transformacije.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Welcome Section-->

<!--Testimonial Section-->
<app-testimonials></app-testimonials>
<!--End Testimonial Section-->

<!--Coaches Section-->
<app-team [isVisible]="isVisible"></app-team>
<!--End Couches Section-->
