<!--Activity Section-->
<app-page-titel [pageTitel]="pageTitel"></app-page-titel>
<section class="activity-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Naš vodič sa tobom ka zdravijem životu</div>
      <h2>Vodič vašeg zdravlja</h2>
      <div class="separetor"></div>
      <div class="text">Telo čuva račune svega što pojedemo.</div>
    </div>
    <div class="outer-box">
      <div class="circular-layer"></div>
      <div class="activity-outer">
        <!--Services Block-->
        <div class="services-block services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-technology-1"></span>
            </div>
            <h3><a href="#">Mentorstvo i podrška</a></h3>
            <div class="text">Put ka zdravlju</div>
          </div>
        </div>

        <!--Services Block Two-->
        <div class="services-block-two services-column">
          <div class="inner-box">
            <div class="icon-box"><span class="icon flaticon-yoga"></span></div>
            <h3><a href="#">Plan treninga</a></h3>
            <div class="text">Vežbanje</div>
          </div>
        </div>

        <!--Services Block Three-->
        <div class="services-block-three services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-pyramid"></span>
            </div>
            <h3><a href="#">Plan ishrane</a></h3>
            <div class="text">Hrana</div>
          </div>
        </div>

        <!--Services Block Two-->
        <div class="services-block-two services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-apple"></span>
            </div>
            <h3><a href="#">Praćenje Napretka</a></h3>
            <div class="text">Praćenje i prilagođavanje plana</div>
          </div>
        </div>

        <!--Services Block Three-->
        <div class="services-block-three services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-thumb-up"></span>
            </div>
            <h3><a href="#">Mindset & Fokus na Oporavak</a></h3>
            <div class="text">Bolji oporavak</div>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="images/resource/activity-img.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!--End Activity Section-->

<!--Why Us Section-->
<section
  class="why-us-section"
  style="background-image: url(images/background/2.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
        <!--Sec Title-->
        <div class="sec-title">
          <div class="title">Zašto baš</div>
          <h2>Fitness Love Team?</h2>
          <div class="separetor"></div>
          <div class="text">
            Fitness Love Team je tim posvećen zdravlju, snazi i balansiranom
            životu. Kao fitness treneri i zaljubljenici u zdravu ishranu,
            zajedno sa našom zajednicom stvaramo pozitivnu energiju i motivaciju
            za postizanje ciljeva. Verujemo u moć discipline, ali i u važnost
            ljubavi prema sebi i svom telu. Kroz personalizovane planove ishrane
            i treninga, pomažemo svakom članu da pronađe ravnotežu između
            fizičkog zdravlja i mentalnog blagostanja. Naša misija je da
            inspirišemo ljude da postanu najbolja verzija sebe, kroz podršku,
            savete i zajednički rad na ciljevima. Fitness Love Team nije samo
            tim – to je porodica koja se podržava, motiviše i raste zajedno.
          </div>
        </div>

        <div class="row clearfix">
          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-exercise-2"></span>
              </div>
              <h3><a href="#">Balance Body</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-exercise-1"></span>
              </div>
              <h3><a href="#">Fit kamp</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-exercise-3"></span>
              </div>
              <h3><a href="#">Fitness Program</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-gym"></span>
              </div>
              <h3><a href="#">Personalizovani trening</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-yoga"></span>
              </div>
              <h3><a href="#">Planovi ishrane</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-heart-shape-with-beats-line"></span>
              </div>
              <h3><a href="#">Wellness analiza</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Why Us Section-->

<!--Coaches Section-->
<section class="coaches-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Upoznajte naše</div>
      <h2>članove</h2>
      <div class="separetor"></div>
      <div class="text">
        Zajedno kao tim, kreiramo personalizovane planove treninga, ishrane i
        motivacije koji podržavaju naše klijente u postizanju dugoročnih
        rezultata i ravnoteže
      </div>
    </div>
    <div class="row clearfix">
      <!--Coach Block-->
      <div class="coach-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"
              ><img src="images/resource/coach-1.jpg" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <h3><a href="#">Miloš Ojdanić</a></h3>
            <div class="designation">Licencirani fitness instruktor</div>
            <div class="text-outer">
              <div class="text">
                Moj cilj je da inspirišem i podržim ljude da postignu svoje
                zdravstvene ciljeve kroz personalizovane treninge i programe
                ishrane.
              </div>
            </div>
            <ul class="social-links-three">
              <li>
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Coach Block-->
      <div class="coach-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"
              ><img src="images/resource/coach-2.jpg" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <h3><a href="#">Radovan Jovanović</a></h3>
            <div class="designation">Wellness savetnik</div>
            <div class="text-outer">
              <div class="text">
                Nakon svoje transformacije u koju ni sam nisam verovao, odlučio
                sam da postanem inspiracija za druge, pomažući im da promene
                mindset i postignu rezultate koje su oduvek želeli.
              </div>
            </div>
            <ul class="social-links-three">
              <li>
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Coach Block-->
      <div class="coach-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"
              ><img src="images/resource/coach-3.jpg" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <h3><a href="#">Snežana Babić</a></h3>
            <div class="designation">Wellnes savetnik</div>
            <div class="text-outer">
              <div class="text">
                Moj cilj je da pomognem ljudima da postignu ravnotežu u životu
                kroz pravilnu ishranu, fizičku aktivnost i mentalnu podršku,
                kako bi se osećali bolje, energičnije i srećnije.
              </div>
            </div>
            <ul class="social-links-three">
              <li>
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Couches Section-->
