<!-- Preloader -->
<div class="preloader"></div>

<!--Main Slider-->
<section class="main-slider" data-start-height="800" data-slide-overlay="yes">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <li
          data-transition="fade"
          data-slotamount="1"
          data-masterspeed="1000"
          data-thumb="images/background/flt.jpg"
          data-saveperformance="off"
          data-title="Awesome Title Here"
        >
          <img
            src="images/main-slider/image-1.jpg"
            alt=""
            data-bgposition="center top"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
          />

          <div
            class="tp-caption sfl sfb tp-resizeme"
            data-x="left"
            data-hoffset="15"
            data-y="center"
            data-voffset="-140"
            data-speed="1500"
            data-start="500"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <h4>
              Zdravlje je <span>nova privlačnost!<br /></span>
            </h4>
          </div>

          <div
            class="tp-caption sfl sfb tp-resizeme"
            data-x="left"
            data-hoffset="15"
            data-y="center"
            data-voffset="-50"
            data-speed="1500"
            data-start="1000"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <h2>
              Počinje izborima,<br />
              snaga prvom vežbom,
              <span class="theme_color"
                >a transformacija odlukom <br />da ne odustaneš.</span
              >
            </h2>
          </div>

          <div
            class="tp-caption sfl sfb tp-resizeme"
            data-x="left"
            data-hoffset="15"
            data-y="center"
            data-voffset="50"
            data-speed="1500"
            data-start="1500"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <div class="text">
              Telo čuva račune <br />
              svega što pojedemo.
            </div>
          </div>

          <div
            class="tp-caption sfl sfb tp-resizeme"
            data-x="left"
            data-hoffset="15"
            data-y="center"
            data-voffset="140"
            data-speed="1500"
            data-start="2000"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <a href="#" class="theme-btn btn-style-one">Saznaj više...</a>&ensp;
            &ensp;<a href="contact.html" class="theme-btn btn-style-two"
              >Kontakt</a
            >
          </div>
        </li>

        <li
          data-transition="fade"
          data-slotamount="1"
          data-masterspeed="1000"
          data-thumb="images/main-slider/image-2.jpg"
          data-saveperformance="off"
          data-title="Awesome Title Here"
        >
          <img
            src="images/main-slider/image-2.jpg"
            alt=""
            data-bgposition="center top"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
          />

          <div
            class="tp-caption sft sfb tp-resizeme"
            data-x="center"
            data-hoffset="0"
            data-y="center"
            data-voffset="-110"
            data-speed="1500"
            data-start="500"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <h4>Zdravlje je <span>nova privlačnost!</span></h4>
          </div>

          <div
            class="tp-caption sfb sfb tp-resizeme"
            data-x="center"
            data-hoffset="0"
            data-y="center"
            data-voffset="0"
            data-speed="1500"
            data-start="1000"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <h2 class="text-center">
              Počinje izborima, <br />snaga prvom vežbom,
              <span class="theme_color"
                >a transformacija odlukom <br />da ne odustaneš.</span
              >
            </h2>
          </div>

          <div
            class="tp-caption sfb sfb tp-resizeme"
            data-x="center"
            data-hoffset="0"
            data-y="center"
            data-voffset="120"
            data-speed="1500"
            data-start="1500"
            data-easing="easeOutExpo"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.3"
            data-endspeed="1200"
            data-endeasing="Power4.easeIn"
          >
            <a href="#" class="theme-btn btn-style-one">Saznaj više...</a>&ensp;
            &ensp;<a href="contact.html" class="theme-btn btn-style-two"
              >Kontakt</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--End Main Slider-->

<!--Welcome Section-->
<section class="welcome-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Zašto<span> odabrati </span></div>
      <h2>Fitness Love Team?</h2>
      <div class="separetor"></div>
      <div class="text">
        Verujemo u snagu zajedništva i podrške. Kao tim, pružamo personalizovane
        planove treninga i ishrane koji te vode ka postizanju ciljeva. Sa nama,
        tvoj put do zdravlja i uspeha postaje lakši i brži.
      </div>
    </div>
    <div class="row clearfix">
      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-apple"></span>
            </div>
            <img src="images/background/flt.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Plan ishrane</a></h3>
                <div class="text">
                  Pristupi ishrani koji balansiraju tvoje ciljeve, energiju i
                  zdravlje, stvarajući dugoročne rezultate.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="500ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-yoga"></span>
            </div>
            <img src="images/resource/featured-2.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Plan treninga</a></h3>
                <div class="text">
                  Planovi treninga osmišljeni da te vode ka većoj snazi,
                  vitalnosti i postizanju ciljeva, prilagođeni tvojoj
                  jedinstvenoj energiji.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Block-->
      <div class="featured-block col-md-4 col-sm-6 col-xs-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="1000ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <div class="icon-box">
              <span class="icon flaticon-exercise-1"></span>
            </div>
            <img src="images/resource/featured-3.jpg" alt="" />
            <div class="overlay-box">
              <div class="content">
                <h3><a href="#">Podrška i motivacija</a></h3>
                <div class="text">
                  Podrška i motivacija koji ti daju snagu da istraješ,
                  prevaziđeš prepreke i ostvariš svoj puni potencijal.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Welcome Section-->

<!--Fun Facts Section -->
<section
  class="fun-facts-section"
  style="background-image: url(images/background/1.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-yoga"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2000" data-stop="250"
                >0</span
              >
              <span class="plus">+</span>
            </div>
            <div class="counter-title">Treninzi</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-thumb-up"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="1500" data-stop="155"
                >0</span
              >
              <span class="plus">+</span>
            </div>
            <div class="counter-title">Zadovoljni klijenti</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box">
            <span class="flaticon-heart-shape-with-beats-line"></span>
          </div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2500" data-stop="100"
                >0</span
              >
            </div>
            <div class="counter-title">Trajanje programa</div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column count-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="inner">
          <div class="icon-box"><span class="flaticon-medal-1"></span></div>
          <div class="content">
            <div class="count-outer">
              <span class="count-text" data-speed="2000" data-stop="128"
                >0</span
              >
            </div>
            <div class="counter-title">Neki od rezultata</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Fun Facts Section -->

<!--Activity Section-->
<section class="activity-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title">Naš vodič sa tobom ka zdravijem životu</div>
      <h2>Vodič vašeg zdravlja</h2>
      <div class="separetor"></div>
      <div class="text">Telo čuva račune svega što pojedemo.</div>
    </div>
    <div class="outer-box">
      <div class="circular-layer"></div>
      <div class="activity-outer">
        <!--Services Block-->
        <div class="services-block services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-technology-1"></span>
            </div>
            <h3><a href="#">Mentorstvo i podrška</a></h3>
            <div class="text">Put ka zdravlju</div>
          </div>
        </div>

        <!--Services Block Two-->
        <div class="services-block-two services-column">
          <div class="inner-box">
            <div class="icon-box"><span class="icon flaticon-yoga"></span></div>
            <h3><a href="#">Plan treninga</a></h3>
            <div class="text">Vežbanje</div>
          </div>
        </div>

        <!--Services Block Three-->
        <div class="services-block-three services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-pyramid"></span>
            </div>
            <h3><a href="#">Plan ishrane</a></h3>
            <div class="text">Hrana</div>
          </div>
        </div>

        <!--Services Block Two-->
        <div class="services-block-two services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-apple"></span>
            </div>
            <h3><a href="#">Praćenje Napretka</a></h3>
            <div class="text">Praćenje i prilagođavanje plana</div>
          </div>
        </div>

        <!--Services Block Three-->
        <div class="services-block-three services-column">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-thumb-up"></span>
            </div>
            <h3><a href="#">Mindset & Fokus na Oporavak</a></h3>
            <div class="text">Bolji oporavak</div>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="images/resource/activity-img.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!--End Activity Section-->

<!--Why Us Section-->
<section
  class="why-us-section"
  style="background-image: url(images/background/2.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
        <!--Sec Title-->
        <div class="sec-title">
          <div class="title">Zašto baš</div>
          <h2>Fitness Love Team?</h2>
          <div class="separetor"></div>
          <div class="text">
            Fokusiramo se na pružanje personalizovanih programa treninga i
            ishrane, koristeći najbolje nutricionističke proizvode kao podršku.
            Naš cilj je da pomognemo našim klijentima da postignu svoje ciljeve
            kroz pravilnu ishranu, redovne treninge i motivaciju.
          </div>
        </div>

        <div class="row clearfix">
          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-exercise-2"></span>
              </div>
              <h3><a href="#">Balance Body</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-exercise-1"></span>
              </div>
              <h3><a href="#">Fit kamp</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-exercise-3"></span>
              </div>
              <h3><a href="#">Fitness Program</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-gym"></span>
              </div>
              <h3><a href="#">Personalizovani trening</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-yoga"></span>
              </div>
              <h3><a href="#">Planovi ishrane</a></h3>
            </div>
          </div>

          <!--Services Block Four-->
          <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div
                class="image-layer"
                style="background-image: url(images/resource/services.jpg)"
              ></div>
              <div class="icon-box">
                <span class="icon flaticon-heart-shape-with-beats-line"></span>
              </div>
              <h3><a href="#">Wellness analiza</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Why Us Section-->

<!-- <app-galery-fullwidth [showTitel]="false"></app-galery-fullwidth> -->

<app-testimonials></app-testimonials>

<!--Default Section-->
<section class="default-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Column-->
      <div class="column col-md-6 col-sm-12 col-xs-12">
        <!--Sec Title-->
        <div class="sec-title">
          <div class="title">Objave na našem blogu</div>
          <h2>Poslednje objave</h2>
          <div class="separetor"></div>
        </div>

        <!--News Block-->
        <div class="news-block">
          <div class="inner-box">
            <div class="row clearfix">
              <!--Image Column-->
              <div class="image-column col-md-6 col-sm-6 col-xs-12">
                <div class="image">
                  <a href="blog-single.html"
                    ><img src="images/resource/news-1.jpg" alt=""
                  /></a>
                </div>
              </div>
              <!--Content Column-->
              <div class="content-column col-md-6 col-sm-6 col-xs-12">
                <div class="content-inner">
                  <h3>
                    <a href="blog-single.html"
                      >Prestani da se nerviraš ako želiš bolje zdravlje!</a
                    >
                  </h3>
                  <div class="post-date">Objavljeno 3.4.2025.</div>
                  <div class="text">
                    Koliko puta si se iznervirao jer vaga nije pokazala ono što
                    si želeo? Ili si bio frustriran jer nisi imao vremena za
                    trening? Stres ne samo da sabotira tvoj napredak, već može
                    ozbiljno narušiti tvoje zdravlje!
                  </div>
                  <div class="block-info">
                    <div class="inner">
                      <div class="image">
                        <img src="images/resource/author-3.jpg" alt="" />
                      </div>
                      <h4>Miloš Ojdanić</h4>
                      <div class="designation">Licencirani Fitness trener</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--News Block-->
        <div class="news-block">
          <div class="inner-box">
            <div class="row clearfix">
              <!--Image Column-->
              <div class="image-column col-md-6 col-sm-6 col-xs-12">
                <div class="image">
                  <a href="blog-single.html"
                    ><img src="images/resource/news-2.jpg" alt=""
                  /></a>
                </div>
              </div>
              <!--Content Column-->
              <div class="content-column col-md-6 col-sm-6 col-xs-12">
                <div class="content-inner">
                  <h3>
                    <a href="blog-single.html"
                      >Omega-3 masne kiseline – tajno oružje za zdravlje i
                      performanse</a
                    >
                  </h3>
                  <div class="post-date">Objavljeno 10.4.2025.</div>
                  <div class="text">
                    Omega-3 masne kiseline nisu samo još jedan trend u ishrani –
                    one su ključni nutrijent za zdravlje i vrhunske performanse.
                    Bez obzira da li si sportista ili samo želiš da se osećaš
                    bolje, omega-3 može napraviti ogromnu razliku!
                  </div>
                  <div class="block-info">
                    <div class="inner">
                      <div class="image">
                        <img src="images/resource/author-4.jpg" alt="" />
                      </div>
                      <h4>Snežana Babić</h4>
                      <div class="designation">Wellness savetnik</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Column-->
      <div class="column col-md-6 col-sm-12 col-xs-12">
        <!--Sec Title-->
        <div class="sec-title">
          <div class="title">Imate pitanja?</div>
          <h2>Mi imamo odgovore!</h2>
          <div class="separetor"></div>
        </div>

        <!--Accordion Box-->
        <ul class="accordion-box accordian-style-one">
          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon fa fa-angle-right"></span>
              </div>
              Prirodni koraci ka boljem zdravlju
            </div>
            <div class="acc-content">
              <div class="content-text">
                <div class="image">
                  <img src="images/resource/faq-img.jpg" alt="" />
                </div>
                <p>
                  Uz pravilnu ishranu, vežbanje i balansiran pristup životu,
                  možete postići dugoročno zdravlje i vitalnost.
                </p>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block active-block">
            <div class="acc-btn active">
              <div class="icon-outer">
                <span class="icon fa fa-angle-right"></span>
              </div>
              Zdravije Navike za Bolji Život
            </div>
            <div class="acc-content current">
              <div class="content-text">
                <div class="image">
                  <img src="images/resource/faq-img.jpg" alt="" />
                </div>
                <p>
                  Započnite danas i napravite prve korake ka zdravijem životu
                  kroz pravilnu ishranu, fizičku aktivnost i pozitivan mindset.
                </p>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon fa fa-angle-right"></span>
              </div>
              Zdravi i Ukusni Recepti
            </div>
            <div class="acc-content">
              <div class="content-text">
                <div class="image">
                  <img src="images/resource/faq-img.jpg" alt="" />
                </div>
                <p>
                  Jednostavni recepti koji će vas inspirisati da se hranite
                  zdravo i uživate u svakom zalogaju.
                </p>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon fa fa-angle-right"></span>
              </div>
              Fitness
            </div>
            <div class="acc-content">
              <div class="content-text">
                <div class="image">
                  <img src="images/resource/faq-img.jpg" alt="" />
                </div>
                <p>
                  Postignite vrhunske rezultate kroz personalizovane treninge i
                  nutricionističke savete koji podržavaju vaše telo i ciljeve.
                </p>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon fa fa-angle-right"></span>
              </div>
              Mindset
            </div>
            <div class="acc-content">
              <div class="content-text">
                <div class="image">
                  <img src="images/resource/faq-img.jpg" alt="" />
                </div>
                <p>
                  Zdravlje počinje postavljanjem pravih ciljeva i pozitivnim
                  stavom.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <!--End Accordion Box-->
      </div>
    </div>
  </div>
</section>
