<app-page-titel [pageTitel]="pageTitel"></app-page-titel>
<section class="gallery-section">
  <div class="auto-container">
    <!--Sortable Gallery-->
    <div class="mixitup-gallery">
      <!--Filter-->
      <div class="filters clearfix">
        <ul class="filter-tabs filter-btns">
          <li class="filter active" data-role="button" data-filter="all">
            Prikaži sve
          </li>
          <li class="filter" data-role="button" data-filter=".food">Ishrana</li>
          <li class="filter" data-role="button" data-filter=".yoga">Trening</li>
          <li class="filter" data-role="button" data-filter=".work">
            Fit kamp
          </li>
          <li class="filter" data-role="button" data-filter=".fitness">
            Fitness
          </li>
        </ul>
      </div>

      <div class="filter-list row clearfix">
        <!--Gallery Item-->
        <div class="gallery-item mix all col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/1.jpg" alt="adfafdafasf" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/1.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div class="gallery-item mix all yoga work col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/2.jpg" alt="adfadf" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/2.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div class="gallery-item mix all work col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/3.jpg" alt="adfafasf" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/3.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div
          class="gallery-item mix all work fitness food col-md-4 col-sm-6 col-xs-12"
        >
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/4.jpg" alt="adfadfa" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/4.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div
          class="gallery-item mix all fitness food yoga col-md-4 col-sm-6 col-xs-12"
        >
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/5.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/5.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div class="gallery-item mix all food yoga col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/6.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/6.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div class="gallery-item mix all work food col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/7.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/7.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div
          class="gallery-item mix all fitness yoga col-md-4 col-sm-6 col-xs-12"
        >
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/8.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/8.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Gallery Item-->
        <div class="gallery-item mix all yoga col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image-box">
              <img src="images/gallery/9.jpg" alt="" />
              <div class="overlay-box">
                <div class="content">
                  <a
                    class="lightbox-image"
                    href="images/gallery/9.jpg"
                    title="Image Title Here"
                    data-fancybox-group="example-gallery"
                    ><span class="icon flaticon-plus"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Styled Pagination -->
    <div class="styled-pagination text-center">
      <ul class="clearfix">
        <li>
          <a class="prev" href="#"><span class="fa fa-angle-left"></span></a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#" class="active">2</a></li>
        <li>
          <a class="next" href="#"><span class="fa fa-angle-right"></span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
